<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
  <test thread-count="5" parallel="methods" name="Test">
    <classes>
      
      <class name="homePage.EnterSite"/>
      <class name="homePage.NewsAndEvents"/>
      <class name="homePage.TopicFilters"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
